---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Internal Safeguarding Audits | C&H Safeguarding">
  <div class="container mx-auto px-4 pt-36 mb-8">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:pr-8">
        <img
          src="https://placehold.co/600x400"
          alt="Internal Safeguarding Audit"
          class="md:hidden rounded-lg shadow-lg mb-8"
        />
        <h1
          class="text-3xl md:text-4xl text-center font-bold text-primary mb-6"
        >
          Internal Safeguarding Audits
        </h1>
        <p class="md:pl-8 text-lg mb-6">
          An internal safeguarding audit is a thorough, systematic examination
          of an organisation's safeguarding practices, policies, and procedures.
          It ensures they are effective, up-to-date, and compliant with relevant
          legislation and best practices. The purpose is to identify gaps or
          weaknesses in safeguarding measures and recommend improvements to
          enhance the protection of vulnerable individuals.
        </p>
        <h2 class="md:pl-8 text-2xl md:text-xl font-bold mt-8 mb-4">
          Key Components of an Internal Safeguarding Audit:
        </h2>
        <ul class="md:pl-8 mb-6 space-y-4 text-xl">
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Policy and Procedure Review</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Training and Awareness</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Case Management and Documentation</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Governance and Oversight</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Communication and Reporting</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Risk Assessment and Management</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left">Feedback and Continuous Improvement</span>
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Compliance with Legislation and Standards</span
            >
          </li>
        </ul>
        <h2 class="md:pl-8 text-2xl md:text-xl font-bold mt-8 mb-4">
          Outcomes of an Internal Safeguarding Audit:
        </h2>
        <ul class="md:pl-8 mb-6 space-y-4 text-xl">
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Identification of Strengths and Weaknesses: Understanding what
              the organisation is doing well and where improvements are needed.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Actionable Recommendations: Providing clear and practical
              recommendations for strengthening safeguarding practices.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Improved Safeguarding Culture: Enhancing awareness, knowledge,
              and skills among staff and volunteers, fostering a culture of
              safety and vigilance.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Compliance Assurance: Ensuring that the organisation meets all
              legal and regulatory requirements related to safeguarding.</span
            >
          </li>
        </ul>
        <a
          href="#"
          class="md:hidden btn btn-primary flex btn-lg items-center justify-center w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            ></path>
          </svg>
          Speak to one of our team
        </a>
      </div>
      <div class="hidden md:block md:w-1/3">
        <img
          src="https://placehold.co/600x400"
          alt="Internal Safeguarding Audit"
          class="rounded-lg shadow-lg mb-8"
        />
        <a
          href="#"
          class="hidden btn btn-primary md:flex btn-lg items-center justify-center btn-block"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            ></path>
          </svg>
          Speak to one of our team
        </a>
      </div>
    </div>
  </div>
</Layout>
