---
import Layout from "../layouts/Layout.astro";
import WhyChooseUsTabs from "../components/WhyChooseUsTabs.astro";
import Experts from "../components/Experts.astro";
---

<Layout title="Welcome to Astro.">
  <section
    class="container min-h-screen mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-16 pt-20 text-center lg:pt-32"
  >
    <div class="text-center">
      <h1
        class="pt-32 text-4xl sm:text-5xl md:text-6xl font-extrabold text-gray-900 mb-8"
      >
        <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary"
        >
          Leaders in Safeguarding Across Organisations
        </span>
      </h1>
      <p
        class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-2xl md:max-w-3xl"
      >
        Committed to Protecting Vulnerable Individuals and Upholding Safety
        Standards in Every Organisation We Serve
      </p>
      <div class="mt-10 flex-col flex md:flex-row justify-center gap-4">
        <a href="#" class="btn btn-primary btn-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 inline-block mr-2"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"
            ></path>
            <path d="M12 11v.01"></path>
            <path d="M8 11v.01"></path>
            <path d="M16 11v.01"></path>
          </svg>
          Speak to an expert
        </a>
        <a href="#" class="btn btn-lg">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 inline-block mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
              clip-rule="evenodd"></path>
          </svg>
          Watch Video
        </a>
      </div>
    </div>
  </section>
  <section
    id="why-choose-us"
    class="w-full min-h-screen py-16 px-4 sm:px-6 lg:px-8 bg-secondary -mt-20"
  >
    <h2
      class="text-2xl sm:text-6xl md:text-7xl font-black text-center text-white mb-12 pt-20"
    >
      Why Choose C&H Safeguarding?
    </h2>
    <WhyChooseUsTabs />
  </section>
  <section id="what-we-offer" class="bg-gray-100 py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-5xl font-bold text-center text-primary-600 mb-4">
        What We Offer
      </h2>
      <p class="text-xl text-center text-gray-600 mb-12 max-w-3xl mx-auto">
        We offer a comprehensive range of safeguarding services tailored to meet
        the unique needs of every organisation we serve.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        <div
          class="bg-white rounded-lg shadow-lg p-6 transition-transform duration-300 hover:scale-105 cursor-pointer"
          onclick="window.location.href='/safeguarding-consultancy'"
        >
          <div
            class="w-16 h-16 mx-auto mb-4 bg-primary-100 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-primary-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01"
              ></path>
            </svg>
          </div>
          <h3 class="text-xl font-semibold text-center mb-2">
            Safeguarding Consultancy
          </h3>
          <p class="text-gray-600 text-center">
            Expert advice and guidance to enhance your safeguarding practices
            and policies.
          </p>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg p-6 transition-transform duration-300 hover:scale-105 cursor-pointer"
          onclick="window.location.href='/auditing'"
        >
          <div
            class="w-16 h-16 mx-auto mb-4 bg-primary-100 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-primary-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4"
              ></path>
            </svg>
          </div>
          <h3 class="text-xl font-semibold text-center mb-2">Auditing</h3>
          <p class="text-gray-600 text-center">
            Comprehensive assessments to identify areas for improvement in your
            safeguarding procedures.
          </p>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg p-6 transition-transform duration-300 hover:scale-105 cursor-pointer"
          onclick="window.location.href='/safeguarding-supervision'"
        >
          <div
            class="w-16 h-16 mx-auto mb-4 bg-primary-100 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-primary-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
              ></path>
            </svg>
          </div>
          <h3 class="text-xl font-semibold text-center mb-2">
            Safeguarding Supervision
          </h3>
          <p class="text-gray-600 text-center">
            Professional support and guidance for staff involved in safeguarding
            responsibilities.
          </p>
        </div>
        <div
          class="bg-white rounded-lg shadow-lg p-6 transition-transform duration-300 hover:scale-105 cursor-pointer"
          onclick="window.location.href='/workplace-mediation'"
        >
          <div
            class="w-16 h-16 mx-auto mb-4 bg-primary-100 rounded-full flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-8 w-8 text-primary-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8h2a2 2 0 012 2v6a2 2 0 01-2 2h-2v4l-4-4H9a1.994 1.994 0 01-1.414-.586m0 0L11 14h4a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2v4l.586-.586z"
              ></path>
            </svg>
          </div>
          <h3 class="text-xl font-semibold text-center mb-2">
            Workplace Mediation
          </h3>
          <p class="text-gray-600 text-center">
            Facilitated discussions to resolve conflicts and improve workplace
            relationships.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="experts" class="min-h-screen bg-white py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-5xl font-bold text-center text-primary-600 mb-12">
        Let Our Experts Guide You
      </h2>
      <Experts />
    </div>
  </section>

  <script>
    function toggleBio(id) {
      const bio = document.getElementById(id);
      if (bio.classList.contains("hidden")) {
        bio.classList.remove("hidden");
      } else {
        bio.classList.add("hidden");
      }
    }
  </script>
</Layout>
