---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login | C&H Safeguarding">
  <div class="min-h-screen flex flex-col items-center bg-white">
    <h1 class="text-primary text-4xl font-bold mt-40">Client Portal</h1>
    <div
      class="w-full sm:max-w-md mt-8 px-6 py-4 bg-white sm:shadow-md overflow-hidden sm:rounded-lg"
    >
      <form method="POST" action="/login">
        <div>
          <label class="block font-medium text-sm text-gray-700" for="email">
            Email
          </label>
          <input
            type="email"
            class="input input-bordered block mt-1 w-full"
            id="email"
            name="email"
            required
            autofocus
            autocomplete="username"
          />
        </div>

        <div class="mt-4">
          <label class="block font-medium text-sm text-gray-700" for="password">
            Password
          </label>
          <input
            type="password"
            class="input input-bordered block mt-1 w-full"
            id="password"
            name="password"
            required
            autocomplete="current-password"
          />
        </div>

        <div class="block mt-4 flex">
          <label for="remember_me" class="flex items-center flex-1">
            <input
              type="checkbox"
              class="checkbox"
              id="remember_me"
              name="remember"
            />
            <span class="ms-2 text-sm text-gray-600">Remember me</span>
          </label>
          <div>
            <a
              class="text-sm text-primary hover:text-primary-focus"
              href="/forgot-password"
            >
              Forgot your password?
            </a>
          </div>
        </div>

        <div class="flex flex-col items-center justify-end mt-4 space-y-4">
          <button class="btn btn-primary btn-block text-white"> Log in </button>
          <a href="/register" class="link link-primary text-sm">
            No invitation? Click here
          </a>
        </div>
      </form>
    </div>
  </div>
</Layout>
