---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Safeguarding Consultancy | C&H Safeguarding">
  <div class="container mx-auto px-4 pt-36">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:pr-8">
        <img
          src="https://placehold.co/600x400"
          alt="Safeguarding Consultancy"
          class="md:hidden rounded-lg shadow-lg mb-8"
        />
        <h1 class="text-3xl md:text-4xl text-center font-bold text-primary">
          Safeguarding Consultancy
        </h1>
        <h2 class="text-xl md:text-2xl text-center font-bold mt-2 mb-8">
          Tailored Solutions for Your Organization
        </h2>
        <p class="md:pl-8 text-lg mb-6">
          Safeguarding consultancy is a customised service designed to address
          the unique needs of your organisation. Depending on your specific
          requirements, the consultancy package may include:
        </p>
        <ul class="md:pl-8 mb-6 space-y-4 text-xl">
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >A comprehensive review and/or revision of existing safeguarding
              policies and procedures.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >An evaluation of current safeguarding training programmes to
              ensure training compliance and assurance.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Assistance with complex case reviews to provide expert insight
              and guidance.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Preparation for inspections, helping your organisation meet
              regulatory requirements.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Workforce analysis to assess the capability and capacity of your
              team in relation to safeguarding.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span
              >Independent reviews to offer objective feedback and
              recommendations for improvement.</span
            >
          </li>
        </ul>
        <p class="md:pl-8 text-lg mb-10">
          This tailored approach ensures that your organisation's safeguarding
          practices are robust, effective, and compliant with all relevant
          regulations.
        </p>
        <a
          href="#"
          class="md:hidden btn btn-primary flex btn-lg items-center justify-center w-full"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            ></path>
          </svg>
          Speak to one of our team
        </a>
      </div>
      <div class="hidden md:block md:w-1/3">
        <img
          src="https://placehold.co/600x400"
          alt="Safeguarding Consultancy"
          class="rounded-lg shadow-lg mb-8"
        />
        <a
          href="#"
          class="hidden btn btn-primary md:flex btn-lg items-center justify-center btn-block"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            ></path>
          </svg>
          Speak to one of our sdfdsf
        </a>
      </div>
    </div>
  </div>
</Layout>
