---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Safeguarding Consultancy | C&H Safeguarding">
  <div class="mx-auto px-4 py-16 pt-36">
    <div class="flex flex-col md:flex-row">
      <div class="md:w-1/2 md:pr-8">
        <img
          src="https://placehold.co/600x400"
          alt="Safeguarding Consultancy"
          class="md:hidden rounded-lg shadow-lg mb-8"
        />
        <h1 class="text-3xl md:text-4xl text-center font-bold text-primary">
          Safeguarding Consultancy
        </h1>
        <h2 class="text-xl md:text-2xl text-center font-bold mt-2 mb-8">
          Tailored Solutions for Your Organization
        </h2>
        <p class="md:pl-8 text-lg mb-6">
          Safeguarding consultancy is a customised service designed to address
          the unique needs of your organisation. Depending on your specific
          requirements, the consultancy package may include:
        </p>
        <ul class="md:pl-8 mb-6 space-y-4 text-xl">
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >A comprehensive review and/or revision of existing safeguarding
              policies and procedures.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >An evaluation of current safeguarding training programmes to
              ensure training compliance and assurance.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Assistance with complex case reviews to provide expert insight
              and guidance.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Preparation for inspections, helping your organisation meet
              regulatory requirements.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span class="text-left"
              >Workforce analysis to assess the capability and capacity of your
              team in relation to safeguarding.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-primary text-2xl mr-4">•</span>
            <span
              >Independent reviews to offer objective feedback and
              recommendations for improvement.</span
            >
          </li>
        </ul>
        <p class="md:pl-8 text-lg">
          This tailored approach ensures that your organisation's safeguarding
          practices are robust, effective, and compliant with all relevant
          regulations.
        </p>
      </div>
      <div class="hidden md:block md:w-1/2">
        <img
          src="https://placehold.co/600x400"
          alt="Safeguarding Consultancy"
          class="rounded-lg shadow-lg mb-8"
        />
      </div>
    </div>
  </div>
</Layout>
