---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html
  lang="en"
  class="h-full scroll-smooth bg-white antialiased"
  data-theme="chsafeguarding"
>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8W515Y9GWM"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8W515Y9GWM");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-WGX3W4CW");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WGX3W4CW"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <Navigation />
    <slot />
    <Footer />
  </body>

  <style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: proxima-nova, sans-serif;
      background: #13151a;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
    button#hs_show_banner_button {
      height: 3rem;
      min-height: 3rem;
      flex-shrink: 0;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border-radius: var(--rounded-btn, 0.5rem);
      border-color: transparent;
      border-color: oklch(
        var(--btn-color, var(--b2)) / var(--tw-border-opacity)
      );
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
      font-size: 0.875rem;
      line-height: 1em;
      gap: 0.5rem;
      font-weight: 600;
      text-decoration-line: none;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      border-width: var(--border-btn, 1px);
      transition-property: color, background-color, border-color, opacity,
        box-shadow, transform;
      --tw-text-opacity: 1;
      color: var(--fallback-bc, oklch(var(--bc) / var(--tw-text-opacity)));
      --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
      outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
      background-color: oklch(
        var(--btn-color, var(--b2)) / var(--tw-bg-opacity)
      );
      --tw-bg-opacity: 1;
      --tw-border-opacity: 1;
      position: absolute;
      margin-top: -112px;
      right: 40px;
    }
  </style>
</html>
